header, footer{
    background:#37474F;
    padding:10px
  }
  .footer-columns{
    display:flex;
  }
  .footer-column{
    flex:50%;
    margin:20px;
  }
  .post{
    display:flex;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    background-color:#607D8B;
    margin-right:20px;
    margin-top:20px;
  }
  .post img{
    margin:20px;
  }
  .posts{
    display:flex;
  }
  #menu1{
    position:relative;
    display:block;
    width:100%;
    height:auto;
    z-index:10;
  }
  #menu1 ul{
    position:relative;
    margin:0;
    padding:0;
    list-style:none;
    width:100%;
  }
  #menu1 ul li{
    position:relative;
    display:block;
    float:left;
  }
  #menu1 ul li a{
    display:block;
    padding:9px 25px;
    font-size:14px;
    text-transform:uppercase;
    color:white;
    transition: transform 0.3s;
  }
  #menu1 ul li a:hover{
    transform: scale(1.1) rotate(-5deg);
    color:#c3dae6
  }
  #menu1 ul li ul{
    position:absolute;
    top:36px;
    display:none;
    width:200px;
    background:#78909C;
  }
  #menu1 ul li:hover ul{
    display:block;
  }
  #menu1 ul li ul li{
    float:none;
    width:100%;
  }
  #menu1  ul li ul li a{
    border-top:1px soild #fff;
    padding:7px 25px;
  }
  header{
    display:flex;
  }
  body{
    background-color:#6f74aa;
  }
  footer {
    position: relative;
    height: auto; 
  }
  footer img {
    float: left;
    margin-right: 20px;
  }
  #menu1 {
    float: left;
    margin-top: 0;
  }
  
  .footer-columns {
    clear: both; 
    margin-top: 20px;
  }  
#menu2 ul{
  position:relative;
  margin:0;
  padding:0;
  list-style:none;
  width:100%;
}
#menu2 ul li{
  position:relative;
  display:block;
  float:left;
}
#menu2 ul li a{
  display:block;
  padding:9px 25px;
  font-size:14px;
  text-transform:uppercase;
  color:white;
  transition: transform 0.3s;
}
#menu2 ul li a:hover{
  transform: scale(1.1) rotate(-5deg);
  color:#c3dae6
}
#menu2 ul li ul{
  position:absolute;
  top:36px;
  display:none;
  width:200px;
  background:#78909C;
}
#menu2 ul li:hover ul{
  display:block;
}
#menu2 ul li ul li{
  float:none;
  width:100%;
}
#menu2  ul li ul li a{
  border-top:1px soild #fff;
  padding:7px 25px;
}
h2{
  text-align: center;
}
.about-dota2 {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    align-items: flex-start; 
  }
  
  .about-dota2 img {
    max-width: 300px; 
    height: auto; 
    margin-bottom: 10px;
  }
  
  .about-dota2-content {
    display: flex;
    flex-direction:row; 
    align-items: flex-start; 
    gap: 20px; 
  }
  
  .about-dota2 p {
    text-align: justify; 
  }
  h1{
    margin-left: 20px;
    margin-bottom:auto;
  }
